.wp-block-tommusrhodus-snake-game-block {
	* {
		box-sizing: border-box;
	}

	#score {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;
	}

	#GameBoard {
		position: relative;
		margin: auto;
		background: var(--background-color);
		width: var(--game-width);
		height: var(--game-height);

		.snake,
		.apple {
			position: absolute;
			background: var(--snake-color);
		}

		.apple {
			background: var(--apple-color);
		}

		#paused,
		#GameOver {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--background-color);
			color: var(--snake-color);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}